/*CSS controls the styling of HTML elements in a separate doc.*/
/*All HTML elements have a style attribute
    - but it's inefficent/messy to use
    
  It is more efficient to link a CSS file to the HTML
    - selectors "select" html elements & allow use to assign styles to multiple HTML elements at once
    - E.g. html, class, id, attribute selectors

  CSS specifity hierarchy overrides certain things (i.e. usually small > large elements)
      e.g. span > div
        HTML SELECTOR
        - general format to style html elements

        CLASS ATTRIBUTE SELECTOR
        - can be assigned to elements for specific CSS purposes
        - often used within divs to group the styling of everything within it
        - i.e. used more than once on a webpage and for many different elements

        ID ATTRIBUTE SELECTOR
        - also assigned to elements for styling purposes
        - BUT should be unique & ONLY used for a SINGLE element on webpage
        - i.e. used for unique identification for s single element you want to style

        ATTRIBUTE SELECTOR
        - selects elements only with the chosen attribute
        - you can select with or without value as well
        - E.g.
            INDEX.HTML  <p draggable="True">Drag Me</p>
                        <p draggable="False">Don't Drag Me</p>

            STYLES.CSS  p[draggable]{
                        color: red;
                        }

                        p[draggable="False]{
                        color: pink;
                        }

        UNIVERSAL SELECTOR
        - just an * before the chosen  element
        - it selects all to what is linked to it
    */
body{
  background-color: #E7CBCB;
}

h1{
  font-family: "Darumadrop One";
  text-align: center;

  /**Two main ways to change font size. 
  Absolute - useful for accuracy i.e. px 
  Relative - i.e. percentages, em **/

  font-size: 300%;
}

p{
  font-size: 1em ;
}

div{
  background-color: #FFE6C7;
  border-color: #99627A;
  border-width: 2px;
  border-style: dashed;
  margin-bottom: 10px;
}

span{
  background-color: #EEEEEE;
}


 /** use "." to refer to css class **/

.myclass{
  color:#99627A;
}


 /** use "#" to refer to css id **/

 /**CSS Box Model 
  - group of edges surrounding an element 
  - content > padding > border > margin
  - helps separate the edges of diff html elements on a page
  - follow top, bottom, left, right 
**/

#s{
  text-align: center;
  border:10px solid #5F264A;;
  margin-bottom: 100px;
  margin-left: 100px;

}

#b{
  text-align: center;
  border:10px solid #37306B;
  padding-top: 20px;
}

#one{
  color: #647E68;
}

#two{
  color: #1D267D;
}

